
*{
    margin: 0;
}

.navbar{
    height: 80px;
    background-color: white;
    border-top: 5px solid black;
}
.navbar:after{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    border-top: 5px solid #FFC300 ;
    width: 100px;
}

.navbar-brand, .navbar-collapse{
    margin: 0 5%
}
.navbar-brand{
    position: absolute;
    left: 50px;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    background-color: #FFC300;
    border: white solid 7px ;
    z-index: 10;
}

.nav-left{
    margin-left: 15%;
}

.nav-link{
    font-size: 16px;
    margin-left: 40px;
    font-weight: 400;
}
.round{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFC300
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: teal;
    border-radius: 50%;
    color: white;
    font-size: 25px;
}