
<div class="container_g">
  <app-navbar>  </app-navbar>
 <div class="caurosal_container">
    <div #container class="courosal_inner">
      <div #cell class="item">
        <div class="item-content"> </div>
        <div class="item-title"> Mobile Internet </div>
      </div>
      <div #cell class="item">
        <div class="item-content"> </div>
        <div class="item-title"> Home Internet </div>
      </div>
      <div #cell class="item">  
        <div class="item-content"> </div>
        <div class="item-title"> Get a Device </div>
        <div class="item-message"> START HERE > </div>
      </div>
      <div #cell class="item">
        <div class="item-content"></div>
        <div class="item-title">Add a Phone line </div>
      </div>
      <div #cell class="item">
        <div class="item-content"></div>
        <div class="item-title"> Upgrade </div>
      </div>
    </div>
    <div class="description"> 
        <div> What are you </div>
        <div> <b> here to do ? </b> </div>
    </div>
  </div>
  <div class="next" (click)="animateSlides(1)"></div>
  
  <div class="pre" (click)="animateSlides(-1)"></div>
  
</div>
